* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.liner-gradient-background {
background-image: linear-gradient(
    rgba(232,102,236,0.3) 0%,
    rgba(232,102,236,0.6)100%
);
}

.underline{
    text-decoration-line: underline;
}

.header {
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(49, 48, 48);
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 40px;
    color: #d9dcd6
}
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 80px;
}
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
.hero {
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/image.png");
    background-size: cover;
    background-position: 25% 25%;
}

.row {
    display:flex;
    flex-direction: row;
    flex: wrap;
    text-align: right;
    font-size: 25px;
    }

.about-me2 {    
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
    float: right;
    width: 70%;
}


.column {
    display: flex;
    flex-direction: column ;
    flex: 0 0 200px;
    border-right: #d9dcd6 5px;
    border-right-style:solid;
    border-right-color:     rgba(232,102,236,0.3);
    border-right-width: 7px;
}

.row1 {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:30px;
    }

.emptyrow{
    height: 40px;
}

#grid {
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 200px;
    width: 100%;
    grid-template-columns: repeat(2,2fr);
    gap: 40px;
    }

.grid1 img {
    border: 4px solid rgb(86, 128, 212);
    margin-bottom: 25px;
    flex: wrap;
    width: 100%;
    transition-duration: 2s;
    transition-property: background-color;
}
.grid2 img {
    grid-column: 1 / 2;
    grid-row: 1;
    border: 4px solid rgb(86, 128, 212);
    height: 200px;
    width: 100%;
    flex-wrap: wrap;
} 

.grid3 img {
    grid-column: 1 / 2;
    grid-row: 1;
    border: 4px solid rgb(86, 128, 212);
    height: 200px;
    width: 100%;
    flex-wrap: wrap;
} 

.grid4 img {
    grid-column: 1 / 2;
    grid-row: 2;
    border: 4px solid rgb(86, 128, 212);
    height: 200px;
    width: 100%;
    flex: wrap;
}  

.grid5 img {
    grid-column: 1 / 2;
    grid-row: 2;
    border: 4px solid rgb(86, 128, 212);
    height: 200px;
    width: 100%;
    flex: wrap;
}  



.code-card :hover,
.code-card:hover .card-header {
    box-shadow:inset 0px 0px 8px
    rgb(102, 236, 162), 0 0 15px
    rgb(102, 236, 162)
}

.footer div ul {
    list-style-type: none;
}

.footer div ul li {
    display: inline-block;
    margin-left: 80px;
}


.footer div {
    float: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}